<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.udc.psi1718.project">

    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Default">

        <!-- TODO IT3 create widgets -->
        <activity
            android:name=".view.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity-alias
            android:name=".LightIcon"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_light"
            android:label="@string/app_name"
            android:targetActivity=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias> <!-- Activity alias to be able to change icon of the application -->
        <activity-alias
            android:name=".DarkIcon"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".view.activities.ControllersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_controllers"
            android:parentActivityName=".view.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.udc.psi1718.project.view.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.udc.psi1718.project.view.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".view.activities.AboutActivity"
            android:theme="@style/AboutActiv">
        </activity>
        <activity
            android:name=".view.activities.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TutorialActiv">
        </activity>

        <!--<receiver-->
        <!--android:name=".arduinomanager.ArduinoUSBCommunicationManager$USBConnectionReceiver"-->
        <!--android:label="USBConnectionReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.ACTION_USB_DEVICE_ATTACHED"/>-->
        <!--<action android:name="android.intent.action.ACTION_USB_DEVICE_DETTACHED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<receiver-->
        <!--android:name=".MyBroadcastReceiver"-->
        <!--android:label="MyBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.ACTION_USB_DEVICE_ATTACHED"/>-->
        <!--<action android:name="android.intent.action.ACTION_USB_DEVICE_DETTACHED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<activity-->
        <!--android:name=".view.activities.TestActivity">-->
        <!--</activity>-->
    </application>

</manifest>